# Virtual Environment
venv/
.venv/
env/

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Jupyter
.ipynb_checkpoints/

# Environment variables
.env

# IDE
.vscode/
.idea/

# macOS
.DS_Store

# Logs
*.log

# Pytest
.pytest_cache/
.coverage
htmlcov/

# Build
build/
dist/
*.egg-info/

# DVC cache
.dvc/cache/

# ML models
*.pkl
*.joblib
*.h5
*.pt
*.pth
*.onnx

# Data
data/
artifacts/
outputs/

# MLflow
mlruns/

# Temporary files
tmp/
temp/
