# -----------------------------
# Virtual Environments
# -----------------------------
venv/
.venv/
env/

# -----------------------------
# Python
# -----------------------------
__pycache__/
*.py[cod]
*.pyo
*.pyd

# -----------------------------
# Jupyter
# -----------------------------
.ipynb_checkpoints/

# -----------------------------
# Environment Variables
# -----------------------------
.env

# -----------------------------
# IDE
# -----------------------------
.vscode/
.idea/

# -----------------------------
# macOS
# -----------------------------
.DS_Store

# -----------------------------
# Logs
# -----------------------------
*.log

# -----------------------------
# Pytest
# -----------------------------
.pytest_cache/
.coverage
htmlcov/

# -----------------------------
# Build
# -----------------------------
build/
dist/
*.egg-info/

# -----------------------------
# DVC Cache
# -----------------------------
.dvc/cache/

# -----------------------------
# Trained Models
# -----------------------------
*.pkl
*.joblib
*.h5
*.pt
*.pth
*.onnx

# -----------------------------
# Generated Data
# -----------------------------
merged_data/
artifacts/
outputs/

# -----------------------------
# MLflow
# -----------------------------
mlruns/
mlflow.db

# -----------------------------
# Feast
# -----------------------------
feature_repo/**/data/registry.db
feature_repo/**/data/online_store.db

# -----------------------------
# Temporary Files
# -----------------------------
tmp/
temp/
